/* add by xiaojunnuo */
.hide{display:none}
.intro_title{
	font-size:14px;color:#333;
}
.category_cur:link {
	color:red;
}
.category_cur:visited {
	color:red;
}


.search {
    background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #A8A8A8;
    display: inline;
    float: right;
    height: 24px;

    padding: 8px;
    position: relative;
    width: 665px;
}
.search input.k {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #ACA899;
    display: inline;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    padding: 4px;
    width: 240px;
}
.search button.searchbtn {
    background: url("../image/common/index.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 24px;
    overflow: hidden;
    text-indent: -9999px;
    width: 92px;
}
.hots {
    display: inline;
    float: right;
    height: 16px;
    margin-right: 10px;
    overflow: hidden;
    padding-top: 5px;
    width: 305px;
}


.tsearch {
float: left;
    width: 266px;
}
.tsearch-tab {
height: 23px;
float: left;
}
 .tsearch-tab li {
float: left;
position: relative;
}
.tsearch-tab li.current a {
	background-color: #900;
	color: white;
	font-weight: bold;
	padding: 0 15px;
}
.tsearch-tab li a {
    display: block;
    float: left;
    height: 23px;
    line-height: 23px;
    padding: 0 12px;
}
.tsearch-tab .current .rc-lt, .tsearch-tab .current .rc-rt {
display: block;
background-color: #FFDEBB;
}
.rc-rt {
right: 0;
top: 0;
}
.rc-lt, .rc-lb, .rc-rb, .rc-rt {
font-size: 0;
font-family: serif;
width: 1px;
height: 1px;
position: absolute;
background-color: white;
}
.only_clear{
clear: both;
}