html {
	background-color: #F9F9F9;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}
body {
	background-color: #F9F9F9;
	font-family: Verdana, Arial,Vrinda,Tahoma;
	line-height: 175%;
	font-size:12px;
	color:#666;
	height: 99%;
}
.float_l{ float:left;}
.float_r{ float:right;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.select{ width:200px;}
a {
	color: #0065CA;
	text-decoration:none;
}
a:hover {
	color: #0099CC;
}
.clear{ clear:both;}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	display:inline;
}
ul{
    margin:0;
	padding:0;
	list-style-position: outside;
	list-style-type: none;
}
li{
	margin:0;
	padding:0;
}
div{
	margin:0;
	padding:0;
}
.header_content {
	margin: 0 auto;
	padding:0px;
	width: 100%;
}
.header_content .logo {
	height: 50px;
	width: 20%;
	float: left;
}
.header_content .right_nav {
	float: right;
	width: 80%;
	height: 50px;
}

.right_nav .text_left {
	float: left;
	width: 20%;
	padding: 22px 0 0 0;
	color: #CC3300;
}
.right_nav .text_right {
	float: right;
	width: 80%;
	display: inline;
	padding: 22px 0 0 0;
	text-align: right;
}
.nav_list a {
	display: inline;
	color:#3399CC;
}
.nav_list li {
      display:inline;
	  }
.nav_return a {
	display: inline;
	color:#3399CC;
}
.nav_return li {
	display: inline;
}
#left_content {
	clear: both;
	width: 199px;
}
#left_content #user_info {
	background-image: url(../image/usershere/manage_r2_c1.jpg);
	background-repeat: no-repeat;
	height: 55px;
	padding: 10px 0 0 55px;
}
#left_content #user_info a{
    color:#0099CC;
}
#left_content #main_nav {
	width: 199px;
	background-image: url(../image/usershere/left_nav_bg.jpg);
	background-repeat: repeat-y;
}
#left_main_nav {
	float: left;
	width: 25px;
	line-height: 13px;
	color:#0099CC;
}
#left_main_nav li{
	height:89px;
	width:12px;
	text-align: center;
	padding: 7px 6px 0 7px;
}
.left_back{
	background-image: url(../image/usershere/manage_r7_c2.jpg);
	background-repeat: no-repeat;
	cursor:pointer;
}
.left_back_onclick{
	background-image: url(../image/usershere/manage_r6_c2.jpg);
	background-repeat: no-repeat;
	color:#333333;
}
#left_main_nav a{
    color:#0099CC;
}#right_main_nav {
	border: 1px solid #B4C9C6;
	width: 172px;
	float: right;
	background-color: #FFFFFF;
	height: 618px;
	text-align: left;
}
.list_tilte {
	background-image: url(../image/usershere/list_title.gif);
	background-repeat: no-repeat;
	margin: 0 auto;
	clear: both;
	height: 22px;
	width: 140px;
	padding-left: 30px;
	font-weight: bold;
	color: #0099CC;
	margin-top: 9px;
	cursor:pointer;
}
.list_tilte_onclick {
	background-image: url(../image/usershere/list_title_onclick.gif);
	background-repeat: no-repeat;
	margin: 0 auto;
	clear: both;
	height: 22px;
	width: 140px;
	padding-left: 30px;
	font-weight: bold;
	color: #0099CC;
	margin-top: 9px;
	cursor:pointer;
}
.list_detail {
	margin: 0 auto;
}
.list_detail li{
	list-style-image: url(../image/usershere/direct_blue.gif);
	list-style-position: inside;
	padding: 0 0 0 15px;
    }
.list_detail li #actived{ color:#F30;}

#switchpic {
	width: 6px;
	cursor:pointer;
	clear: both;
	vertical-align: bottom;
	margin-top: 220px;
}
#nav {
	width:99%;
	float:left;
	background-image: url(../image/usershere/nav_bg.jpg);
}
#nav ul { 
      margin:0; 
	  list-style:none; 
	  padding: 0;
 }
#nav li {
     float:left; 
	 margin:0; 
	 padding:2px 35px 0 30px;
	 line-height:24px;
	 font-weight:bold;
}
.bg_image{
	 background: url(../image/usershere/manage_r2_c14.jpg) no-repeat;
	 cursor:pointer;
	 color:#fff;
}
.bg_image_onclick{
	 background: url(../image/usershere/manage_r2_c13.jpg) no-repeat;
	 color:#0099CC;
}
#sub_info {
	width: 99%;
	float:left;
	background-image: url(../image/usershere/manage_r3_c11.jpg);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B4C9C6;
	border-bottom-color: #B4C9C6;
	border-left-color: #B4C9C6;
	height: 27px;
	background-repeat: repeat-x;
	padding: 5px 0 0 0;
}
#man_zone {
	/*height: 575px;overflow: auto;padding: 5px 0 5px 0;*/
	width: 99%;
	height: 95%;
	border: 1px solid #B4C9C6;
	margin: 6px 0 0 0;
	background-color:#FFFFFF;
}
#man_zone table{
    background-color:#DBE6E3;
}
#man_zone table tr{
    background-color:#F0F0F0;
}
.left_title_1 {
	background-color: #F3F8F7;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right
}
.left_title_2 {
	background-color: #fff;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right;
}

.finder-head {
	background: url("../image/common/tablethbg.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    color: #000000;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-align: center;!important
    white-space: nowrap;
}
.finder-head div.span-1, .finder-head div.span-2, .finder-head div.span-3, .finder-head div.span-4, .finder-head div.span-5, .finder-head div.span-6, .finder-head div.span-7, .finder-head div.span-8, .finder-head div.span-9, .finder-head div.span-10, .finder-head div.span-11, .finder-head div.span-12 {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #DBE2E7;
    margin: 0;
    padding: 0 2px;
}

div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
    float: left;
    overflow: hidden;
    padding: 0 2px;
}
.span-1 {
    width: 3%;
}
.span-2 {
    width: 7%;
}
.span-3 {
    width: 10%;
}
.span-4 {
    width: 15%;
}
.span-5 {
    width: 17%;
}
.span-6 {
    width: 20%;
}
.span-7 {
    width: 27%;
}
.span-8 {
    width: 30%;
}
.span-9 {
    width: 35%;
}
.span-10 {
    width: 40%;
}
.span-12 {
    width: 50%;
}
div.row {
    background-color: #F1F5FA;
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    line-height: 24px;
    white-space: nowrap;
}
div.row:hover {
    background-color: #ffffd4;
}
div.row .row-line {
    border-bottom: 1px solid #DDDDDD;
    height: 24px;
    overflow: hidden;
}
div.row div {
    overflow: hidden;
}
.closeFolder {
	cursor: pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../image/usershere/sitemapopened.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
}
.openFolder {
	cursor: pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../image/usershere/sitemapclosed.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
}
.text-align{text-align:left;}
.text-align-mid{text-align: center;}
.margin-left10{margin-left:10px;}
.margin-left20{margin-left:20px;}
.margin-left50{margin-left:50px;}
.margin-left80{margin-left:80px;}
.margin-left100{margin-left:100px;}
.margin-top10{ margin-top:10px;}
.orderTextStyle {
    height: 15px;
    padding: 0 3px;
    width: 22px;
}
.foot_content{ 
	bottom: 7px;
    position: fixed;
	width:99%;
}
.footer {
	border: 1px solid #CCCCCC;
	height: 28px;
	line-height: 28px;
	padding: 0 0 4px;
	background: url(../image/usershere/functionareabg.gif) repeat-x 0 0 scroll transparent;

}
.footer .tableAction {
    margin: 0 auto;
}

.tableAction {
    clear: both;
    margin: 5px auto;
    width: auto;
}

table {
    width: 100%;
}

table, td, th {
    vertical-align: middle;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
td, th {
    padding: 1px 4px;
}

table, td, th {
    vertical-align: middle;
}

caption, th, td {
    font-weight: normal;
	
}
.submitBtn {
    background: none repeat scroll 0 0 #4E6A81;
    border-color: #DDDDDD #000000 #000000 #DDDDDD;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;
}
.tableAction td .submitBtn input {
    border: 0 none;
}
.submitBtn input, .submitBtn a, .submitBtn button, td .submitBtn a {
    background: none repeat scroll 0 0 #4E6A81;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}
.submitBtn {
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}
.folder{
	background: url("../image/usershere/ImageBundle.gif") no-repeat scroll 2px -1664px transparent;
    height: 17px;
    margin-right: 10px;
    padding-left: 25px;
    width: 16px;
	}
.folderopen{
	background: url("../image/usershere/ImageBundle.gif") no-repeat scroll 0 -1631px transparent;
    height: 17px;
    margin-right: 10px;
    padding-left: 25px;
    width: 16px;
	}
.help_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -1536px no-repeat;
    display: block;
    height: 15px;
    margin-right: 10px;
    overflow: hidden;
    text-indent: -9992px;
    width: 15px;}
.edit_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -139px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 45%;
}
.hide_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -211px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
	margin-left: 45%;}
.show_icon{
    background: url("../image/usershere/ImageBundle.gif") 0 -1591px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
	margin-left: 45%;
	}
.add_sub_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -30px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 45%;
	}
.changename_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -932px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 45%;}
.detel_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -91px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 50%;}
	
.view_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -1607px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 45%;}
.sort_icon{
	background: url("../image/usershere/ImageBundle.gif") no-repeat scroll 0 -1686px transparent;
    display: block;
    height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 60%;}
.brand_icon{
	background: url("../image/usershere/ImageBundle.gif") no-repeat scroll 2px -1314px transparent;
    height: 16px;
    padding-left: 25px;
    width: 16px;
	margin-left: 45%;
	}
.help2_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -1410px no-repeat;
    height: 16px;
    padding-left: 25px;
    width: 16px;
	}
.new_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -1410px no-repeat;
    height: 16px;
    padding-left: 25px;
    width: 16px;}
.viewgoods_icon{
	background: url("../image/usershere/ImageBundle.gif") 0 -1298px no-repeat;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	margin-left: 30px;}
.main_content{width: 100%; visibility: visible; opacity: 1;overflow: auto;}
.main_content585{height: 585px; width: 100%; visibility: visible; opacity: 1;overflow: auto;}
.main_content528{height: 528px; width: 100%; visibility: visible; opacity: 1;overflow: auto;}

.finder-list{text-align:center;!important}
.actionBar {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 3px solid #6F777A;
    border-top: 1px solid #FFFFFF;
    line-height: 30px;
}
.actionBar table {
    margin: 0;
    width: auto;
}
.actionBar td, .actionBar th {
    padding: 0 5px;
}
.actionBar table, td, th {
    vertical-align: middle;

    width: auto;
}
.actionItems {
    /* border-left: 1px solid #FFFFFF;*/
    border-right: 1px solid #BEC6CE;
    border-top: 1px solid #FFFFFF;
    height: 35px;
    margin: 0;
    padding: 0 3px;
}
.actionItems .functop {
    height: 20px;
    line-height: 28px;
    padding-top: 3px;
}
.actionItems table td {
    width: auto;
}
.addorder {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px 0 #E2E8EB;
}
.sysiconBtn {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 0 0 #E2E8EB;
    border-color: #FFFFFF #BEC6CE #BEC6CE #FFFFFF;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #000000;
    cursor: pointer;
    display: inline;
    font-weight: normal;
    line-height: 24px;
    margin: 1px 3px 0 0;
    outline: medium none;
    padding: 4px 4px 2px 20px;
    text-decoration: none;
}
.sysiconBtnNoIcon {
    background: none repeat scroll 0 0 #E2E8EB;
    border-color: #FFFFFF #BEC6CE #BEC6CE #FFFFFF;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #000000;
    cursor: pointer;
    display: inline;
    font-weight: normal;
    padding: 1px;
    text-decoration: none;
}
.actionItems .func {
    padding-top: 0;
}
.addorder {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px 0 #E2E8EB;
}
.btn-show-cate {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -1177px #E2E8EB;
}
.btn-hide-cate {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -1217px #E2E8EB;
}
.email {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 3px -991px #E2E8EB;
}
.msgbox {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 1px -939px #E2E8EB;
}
.sms {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -877px #E2E8EB;
}
.delete {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -83px #E2E8EB;
}
.recyclebin {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -786px #E2E8EB;
}
.edit {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -41px #E2E8EB;
}
.gridedit {
    background: url("../image/usershere/sysicon.gif") no-repeat scroll 2px -1040px #E2E8EB;
}
.arrow-down {
    background-image: url("../image/usershere/arrow-down.gif");
}
.arrow-up, .arrow-down, .arrow-left, .arrow-right {
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
.actionItems .functop {
    height: 20px;
    line-height: 28px;
    padding-top: 3px;
}
.actionItems h3 {
    color: #969696;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    padding: 6px 0;
    text-align: center;
}
.dropMenu {
    background: url("../image/usershere/sysrightbackgroud.gif") repeat-x scroll 0 0 #E7EFF5;
    border: 1px solid #BEC6CE;
    position: absolute;
    white-space: nowrap;
    width: 200px;
    z-index: 10000;
}
.dropMenu .menuitem {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF #FFFFFF #CCCCCC;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: block;
    line-height: 22px;
    padding: 0 5px;
    white-space: nowrap;
}
.lnk {
    color: #000099;
    cursor: pointer;
    text-decoration: underline;
}
.finder-filter-body {
    background: url("../image/usershere/sysrightbackgroud.gif") repeat-x scroll 0 0 #E7EFF4;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}
div.highlight:hover, div.highlight, .highlight {
    background-color: #6B94AD;
    color: #FFFFFF;
}
.highlight div.span-1, .highlight div.span-2, .highlight div.span-3, .highlight div.span-4, .highlight div.span-5, .highlight div.span-6, .highlight div.span-7, .highlight div.span-8, .highlight div.span-9, .highlight div.span-10, .highlight div.span-11, .highlight div.span-12 {
    border: medium none;
    margin: 0;
    padding: 0 3px;
	/*text-align:left;*/
}
.highlight .infoPanel {
    display: block;
}
.infoPanel {
    background: none repeat scroll 0 0 #6B94AD;
    clear: both;
    color: #FFFFFF;
    display: none;
    padding: 5px;
}
.infoPanel .infoContent {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    cursor: auto;
}
.infoPanel .ActionBar {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CFCFCF;
    border-top: 1px solid #FFFFFF;
    height: 28px;
    margin-bottom: 10px;
}
.infoPanel .handles {
    background: none repeat scroll 0 0 #DDDDDD;
    height: 30px;
    margin: -10px 0 0;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
}
.t-handle-current {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none;
    border-top: 2px solid #FF9900;
    color: #000000;
    font-weight: 700;
    line-height: 35px;
    padding: 6px 10px;
}
.infoPanel .handles span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    cursor: pointer;
    line-height: 31px;
    padding: 4px 10px;
    text-decoration: none;
}
.infoPanel .handles span.t-handle-current {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: medium none;
    border-top: 2px solid #FF9900;
    color: #000000;
    font-weight: 700;
    line-height: 35px;
    padding: 6px 10px;
}

.infoPanel .handles span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    cursor: pointer;
    line-height: 31px;
    padding: 4px 10px;
    text-decoration: none;
}
.t-handle {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    height: 25px;
    padding: 5px 15px;
    text-align: center;
    width: 80px;
}

.infoPanel .tabs {
    clear: both;
}
.infoPanel .tabs table td{
	background-color:#fff;
}
.division {
	border:1px solid #e2e2e2;
    line-height: 150%;
    margin: 10px;
    padding: 5px;
    white-space: normal;
}

.division td label, .division div label {
/*    display: inline;
    float: none;*/
}

label {
    color: #336699;
    padding: 3px 0;
}
.division table{ width:100%; text-align:left;}
.clearfix, .container {
    display: block;
}
.division th {
    background: none repeat scroll 0 0 #E2E8EB;
    border-right: 1px solid #CCCCCC;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
    width: 140px;
}
.division th, .division td {
    border-color: #FFFFFF #DBE2E7 #DDDDDD #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #DBE2E7;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    vertical-align: top;
}

.division label {
    display: block;
    float: left;
    text-align: right;
    white-space: nowrap;
    width: 100px;
}
.division label input{
    float:right;
}
/*模块弹出窗*/
.dialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #3D596F #34495A #2F4251;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    position: absolute;
    text-align: left;
    z-index: 65534;
	visibility: visible; opacity: 1;  width: 756px;  top: 109px; left: 341px;
}
.dialog .dialog_box {
    background: none repeat scroll 0 0 #CAD9E6;
    border: 1px solid #A1BADF;
    padding: 0 9px 9px;
}
.dialog .head {
    margin-bottom: 4px;
    padding: 3px 0;
    position: relative;
}
.dialog .head .title {
    cursor: move;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 10px;
}

.dialog .head .closeBtn {
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 17px;
}
.dialog .body, .dialog .headContent, .dialog .footContent {
    padding: 3px;
}
.dialog .body {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog .division th {
    font-size: 12px;
    width: 120px;
}

.dialog .body, .dialog .headContent, .dialog .footContent {
    padding: 3px;
}
.dialog .headContent, .dialog .footContent {
    background: none repeat scroll 0 0 #F1F4F6;
    cursor: default;
}
.close_icon{
	background-image: url("../image/usershere/ImageBundle.gif");
    background-position: 0 -74px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 17px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 17px;
}
.edit_icon1 {
    background: url("../image/usershere/ImageBundle.gif") no-repeat scroll 0 -139px transparent;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}
.detel_icon1 {
    background: url("../image/usershere/ImageBundle.gif") no-repeat scroll 0 -95px transparent;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}


/*品牌商品*/
fieldset {
    border: 1px solid #CCCCCC;
    margin: 0 0 1.5em;
    padding: 1.4em;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
.division fieldset label {
    white-space: normal;
}
.division label input {
    float: right;
}

/*富文本框.mce_style_1 {
    background: url("../images/inputactionbg.gif") repeat-x scroll 0 -30px #E6EAEF;
    border-color: #B0BEC7 #B0BEC7 #93A6B4;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    padding: 5px 4px;
}
.mce_style_1 ul {
    float: none;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.mce_style_1 li {
    border: 1px solid #E6EAEF;
    cursor: pointer;
    float: left;
    margin: 1px;
    padding: 2px;
}
.mce_style_1 li img {
    border: medium none;
    float: left;
}
.wysiwyg_body {
    border-color: #B0BEC7 #B0BEC7 #93A6B4 #93A6B4;
    border-style: solid;
    border-width: 1px;
}
.wysiwyg_body iframe, .wysiwyg_body textarea {
    background: none repeat scroll 0 0 #E9E9E9;
    border: medium none;
    clear: both;
    font-family: verdana;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
textarea {
    font-size: 1em;
    padding: 5px;
}
.button-add, .button-cut {
    background: url("../images/button_add_cut.gif") no-repeat scroll 50% -32px transparent;
    border: medium none;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    margin: 5px 20px 0 0;
    width: 16px;
}*/

/*系统参数配置*/
.main_content70{
	border-color: #6F777A;
    border-style: solid;
    border-width: 0;
    float: right;
    height: 529px;
    opacity: 1;
    overflow: auto;
    visibility: visible;
    width: 83%;
	}
.main_content29{
	 border-color: #6F777A;
    border-style: solid;
    border-width: 0 2px;
    float: left;
    height: 529px;
    opacity: 1;
    overflow: auto;
    visibility: visible;
    width: 200px;
	}
	
.attribute table{ min-height:45px; overflow:auto;border:1px solid #efefef; margin-bottom:10px;}
.button-add, .button-cut {
	border: medium none;
	cursor: pointer;
	height: 16px;
	line-height: 16px;
	margin: 5px 20px 0 0;
	width: 16px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../image/common/button_add_cut.gif);
	background-repeat: no-repeat;
	background-position: 50% -32px;
}
.button-cut {
    background-position: 50% 0;
}
.tableform {
    background: none repeat scroll 0 0 #EFEFEF;
    border-color: #DDDDDD #BEC6CE #BEC6CE #DDDDDD;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
}
table.finderInform {
    border: 1px solid #EFEFEF;
    margin: 0;
    width: 100%;
}
.finderInform thead th {
    background: url("../image/common/functionareabg.gif") repeat scroll 0 0 transparent;
    border-color: #FFFFFF #DBE2E7 #CCCCCC #FFFFFF;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: 700;
    padding: 1px 3px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}
/*div 数据列表*/
.dataList div {
	border-left: 1px solid #FFFFFF;
    border-right: 1px solid #DBE2E7;
    margin: 0;
    padding: 0 2px;
    cursor: pointer;
}
.text-align-right{
	text-align: right;
}