<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
${userName}, 
你于${datetime}提交了找回密码申请，请点击下面链接设置新的密码
验证码是：${securityCode}
<p><a href="http://127.0.0.1:6888/usersphere/userprofile/newPasswordSetup.faces?userName=${userName}&resetCode=${resetCode}">http://127.0.0.1:6888/usersphere/userprofile/newPasswordSetup.faces?userName=${userName}&resetCode=${resetCode}</a></p>
</body>
</html>