a {cursor: pointer;}

.rootFolder {
	cursor: pointer;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(/ebiz-resource/image/common/tree/base.gif);
	background-repeat: no-repeat;
}
.empty_img {
	display: inline-block;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
    cursor: default;
}
.margin-left60{margin-left:60px;}
.margin-left65{margin-left:65px;}

.input_button{
	background: none repeat scroll 0 0 #E2E8EB;
    border-color: #FFFFFF #BEC6CE #BEC6CE #FFFFFF;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #000000;
    cursor: pointer;
    display: inline;
    font-weight: normal;
    margin: 0 0 0 3px;
    text-decoration: none;
}

