<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <context:property-placeholder location="classpath:db-config.properties,
    										classpath:framework-core-config.properties,
    										classpath:framework-web-config.properties,
    										classpath:framework-integration-jms-config.properties,
    										classpath:navigation-system-config.properties" />
	<import resource="applicationDataAccess.xml" />

	<import resource="classpath*:apusic-ebiz-navigation-service.xml" />
	<import resource="classpath*:apusic-ebiz-framework-core.xml" />
    <import resource="classpath*:apusic-ebiz-framework-web.xml" />
	<import resource="classpath*:apusic-ebiz-smartorg-service.xml" />
	<import resource="classpath*:apusic-ebiz-iam-security.xml" />
	
	<!-- <import resource="classpath*:apusic-ebiz-framework-integration-jms.xml" />
	<import resource="classpath*:apusic-ebiz-framework-event.xml" />
	<import resource="classpath*:apusic-ebiz-framework-cache.xml" /> -->
	

	<bean id="navigationFilterChain" class="com.apusic.ebiz.framework.web.filter.FilterChainFilter">
		 <property name="filters">
		 	<beans:list>
	            <value>ebiz_openSessionInViewFilter</value>
		 	</beans:list>
        </property>
	</bean>
</beans>