.button:focus {
	outline: 1px dotted black
}

.button>span {
	padding: 4px 25px\9
}

.button.product>span,.compound-button .handle.product>span {
	border: 1px solid #CCC
}

v\\:shape {
	behavior: url(#default#VML);
	position: absolute
}

.compound-button .handle>span {
	border-left: 1px solid #CCC !important
}

.compound-button .button.product>span:after,.compound-button .button.product.hover>span:after,.compound-button .button.product:hover>span:after
	{
	content: none
}

.compound-button .handle.product>span {
	padding-bottom: 6px
}

.compound-button .handle .arrow,.compound-button .handle.product.hover .arrow
	{
	*background:
		url(source/store/base/patterns/compound-button/css/img/arrow-white.gif)
		no-repeat !important
}

.compound-button .handle.product .arrow {
	*background:
		url(source/store/base/patterns/compound-button/css/img/arrow-black.gif)
		no-repeat !important
}

.dynamic-menu {
	*left: 0
}

div#page.family div#product_types.box.lateral-navigation {
	margin-top: 0 !important;
	*height: 85px
}

.jp #primary,#navigation,#secondary {
	font-size: 10px
}

.jp #primary .module .tab-quantity {
	margin-top: 65px
}

#page #primary #promo-bar {
	height: 200px; //
	height: auto
}

body #tab-content-latestsoftware .product {
	width: 160px
}

#selection-gallery-window {
	position: relative !important
}

.family #area-product-selection table td.n-8 .prod-prod img {
	left: -13px
}

.family .module .modulecontent h2 {
	margin-top: 14px !important
}

#promos3 #promo4 img.bts {
	margin-top: 8px !important
}

.related-results .packing #product-info-list {
	height: auto
}

body.create-account input[type=checkbox] {
	border: 0 !important;
	background: none !important
}

body.create-account input[type=checkbox]:checked {
	background: none !important
}

#bowerswilkinstabtop {
	background:
		url("http://as-images.apple.com/is/image/AppleInc/tab-iphone-bowers-wilkins-p5-bkg?wid=626&hei=281&fmt=gif&qlt=95")
		no-repeat scroll 0 0 transparent;
	display: block;
	padding-bottom: 60px;
	height: 220px;
	zoom: 1
}

body.family-ipod-classic div#product-selection .product-container .product-specs h3 sup.classic_gen3
	{
	display: block;
	padding-top: 3px
}

div.product-overview-full div#overview-col1.with-icons div.feature {
	width: 420px
}

div.product-overview-full div#overview-col1.with-icons div.feature.icon
	{
	clear: both
}

div.product-overview-full div#overview-col1.with-icons div.feature p {
	line-height: 15px;
	text-align: left
}

div.product-overview-full div#overview-col1.with-icons div.feature h4 {
	line-height: 15px;
	text-align: left
}

div.product-overview div#overview-col1.with-icons div.feature {
	width: 325px
}

body.product-details div.product-overview div#appletvrefurb div.feature
	{
	width: 575px
}

div.product-overview div#overview-col1.with-icons div.feature.icon,body.product-details div.product-ovesrview div#appletvrefurb div.feature
	{
	clear: both
}

body.product-details div.product-overview div#appletvrefurb div.feature p,body.product-details div.product-overview div#appletvrefurb div.feature h4,div.product-overview div#overview-col1.with-icons div.feature p,div.product-overview div#overview-col1.with-icons div.feature h4,div.product-overview div#overview-col1.with-icons div.feature ul li,.product-details .product-overview-full .feature.icon ul li
	{
	line-height: 15px;
	text-align: left
}

body.specialdeals #promo-bar {
	display: inline
}

#navigation .footerblock .modulecontent {
	height: auto !important
}

#apple-header.globalheader-loaded .site-search .sitesearch-wrapper .wrapper input
	{
	margin-top: 2px
}

div.multi-step-form div.form-tab-nav button {
	overflow: visible
}

div.multi-step-form select {
	height: auto;
	padding: 0
}

div.multi-step-form span.field-with-placeholder input {
	margin-right: 4px
}

div.multi-step-form span.field-link {
	position: relative;
	top: -8px;
	left: 4px
}

div.multi-step-form h5 span {
	zoom: 1
}

div.multi-step-form .single-checkbox label {
	margin-left: 26px
}

div.multi-step-form div.form-tab-nav button,div.multi-step-form div.form-tab-nav button.current
	{
	margin-bottom: 0;
	border: 0
}

form.step-form button.text-action,div.step-error button.text-action {
	margin: 0 0 -2px 4px
}

div.multi-step-form input[type=checkbox],div.multi-step-form .single-checkbox input[type=checkbox]
	{
	border: 0 !important
}

div.multi-step-form input[type=radio] {
	border: 0 !important
}

div.multi-step-form div.form-tab-nav span {
	border-right: 1px solid #cdcdcd
}

div.cto div#primary-main div.overview ul#popular-configs-select li {
	list-style: none
}

div.cto div#primary-main ul#feature-list dl dd.feature-detail {
	padding-bottom: 14px
}

div.cto div#primary-main ul#feature-list ul.feature-select,div.cto div#primary-main div.feature-content div.feature-select-btm
	{
	padding-bottom: 6px
}

div.cto form#configuration-form fieldset ul.feature-select li,div.cto form#configuration-form fieldset ul.feature-select input
	{
	margin-top: -2px
}

div.cto div#secondary div.open {
	margin-top: 0
}

body div.cto div#primary-main div.overview h2 {
	line-height: 1.1em
}

div.cto #primary-main div.overview.popular-configs {
	position: static;
	clear: both;
	height: 290px
}

div.cto #primary-main div.overview.popular-configs div.overview-content
	{
	position: static
}

div.cto div#primary-main div.overview .overview-feature {
	position: static;
	float: right;
	margin-top: -73px
}

div.cto #primary-main div.overview.popular-configs div.overview-content .popular-configs
	{
	clear: both
}

div.cto #primary-main div.overview.popular-configs div.overview-content .popular-configs .infobox
	{
	padding-bottom: 12px
}

.clearfix {
	zoom: 1
}