/*css*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{text-decoration:none;border:0;font-size:100%;margin:0;padding:0}
html,body{font-size: 12px;height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}
h1{ font-size:14px; font-weight:bold; color:#000;}
img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
li{display:list-item; list-style-type:none;}
svg{overflow:hidden}
body{ background-color:#FFF; font-size:12px; font-family:Verdana, Geneva, sans-serif,΢���ź�,����;}
font{ font-weight:normal;}
ul, li, ol, ul {list-style: none outside none;}
img{ border:0;vertical-align: middle; text-align:center;}
a:link, a:visited {color: #005AA0;text-decoration: none;}
a:hover{color: #F30;text-decoration: underline;}
.font_red{ color:#FF4E00;}
.font_white{ color:#fff;}
strong{font-weight: bold;}
.float_left {float:left;}
.float_right {float:right;}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.i-logo{float:left;}
.divborder{border:1px solid #E0E0E0;}
.searchdivborder{border:1px solid #E0E0E0; width:98%; margin-top:5px;}
.searchdivborder table td{border:0px; padding:5px;}
.searchdivborder table th b{ width:5px; height:3px;}
.border_bottom{border-bottom:1px solid #E0E0E0;}
.flow-steps3 {
    margin-top: 26px;
    overflow: hidden;
}
.flow-steps3 .num53 li {
    width: 150px;
}
.flow-steps3 li.current3 {
    background-color: #FFCC33;
}
.flow-steps3 li {
	color: #666666;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 23px;
	line-height: 23px;
	overflow: hidden;
	padding: 0 15px 0 0;
	text-align: center;
	background-attachment: scroll;
	background-color: #E0E0E0;
	background-image: url(../image/common/dh.png);
	background-repeat: no-repeat;
	background-position: 100% -46px;
}
.flow-steps3 li.current3 span {
    font-weight: bold;
}
.flow-steps3 li span, .flow-steps3 li strong {
    display: block;
}
.flow-steps3 li.last3 {
    background-position: 100% -80px;
}

.close_icon{
	background-image: url(../image/common/close_16.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
    height: 16px;
    text-indent: -9999px;
    width: 20px;

}
.add_icon{
	background-image: url(../image/common/add_16.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
    height: 16px;
    text-indent: -9999px;
    width: 20px;
}
.box {
    border: 1px solid #E8E8E8;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 1px 1px 10px;
    position: relative;

}
.clear{clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;}
.center{ text-align:center;}
.align_Right {
    text-align: right;
}
.margin_top10{ margin-top:10px;}
.width744{ width:744px;}
.border_top{ border-top: 1px solid #E7E7E7;}

/*����*/
.search {
    background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #A8A8A8;
    display: inline;
    float: right;
    height: 24px;

    padding: 8px;
    position: relative;
    width: 560px;
}
.search input#k {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #ACA899;
    display: inline;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    padding: 4px;
    width: 456px;
}
.search button.searchbtn {
    background: url("../image/common/index.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 24px;
    overflow: hidden;
    text-indent: -9999px;
    width: 92px;
}
.hots {
    display: inline;
    float: right;
    height: 16px;
    margin-right: 10px;
    overflow: hidden;
    padding-top: 5px;
    width: 570px;
}
.hots em {
    color: #BF0000;
    font-weight: 700;
}
.hots a {
    font-weight: normal;
    margin-right: 5px;
	 color: #999999;
}



.i-bg1 {
    background: url("../image/common/index.gif") repeat-x scroll 0 -849px transparent;
    height: 40px;
    margin-bottom: -40px;
    width: 100%;
}

/*����*/
.navitem {
    height: 40px;
    margin: 0 auto;
    position: relative;
    /*width: 1000px;*/
    z-index: 97;
}
.navitem ul.nav {
    display: inline;
    float: left;
    padding-top: 3px;
    z-index: 5;
}
.navitem ul.nav li {
    background: url("../image/common/index.gif") no-repeat scroll right 0 transparent;
    color: #FFFFFF;
    display: inline;
    float: left;
    font-size: 14px;
    padding-top: 3px;
    position: relative;
    text-align: center;
    width: 80px;
}
.navitem ul.nav .current {
    background: url("../image/common/index.gif") no-repeat scroll 0 -897px transparent;
    font-weight: 600;
    height: 34px;
    margin: 0 -2px 0 2px;
    z-index: 3;
}
.navitem ul.nav li.current a, .navitem ul.nav li.current a:visited {
    color: #000000;
    text-decoration: none;
}

.navitem ul.nav li a, .navitem ul.nav li a:visited {
    color: #FFFFFF;
}
#zuixindongtai {
    background: url("../image/common/index.gif") no-repeat scroll left -633px transparent;
    height: 160px;
    margin-top: 10px;
    padding: 40px 0 0 15px;
    width: 224px;
}
#zuixindongtai p {
    height: 25px;
}
.fontred {
    color: #D20000;
}
/*��ҳ��Ʒ����*/
.categories {
    height: 370px;
    overflow: hidden;
    width: 740px;
}
.mainad, .subad, .subad li, .categories, .brandslist {
    float: left;
}
.categories h2 {
	background: url("../image/common/index.gif") no-repeat scroll transparent;
    background-position: 8px -433px;
    height: 39px;
	text-indent: -999999px;
}
.catelist {

    height: 329px;
	border: 1px solid #EDEDED;
	background: url("../image/common/index.gif") no-repeat scroll left -83px transparent;
}
.catelist li {
    border-bottom: 1px dotted #EDEDED;
    height: 53px;
    padding: 12px 0 0 108px;
    width: 600px;
}
.catelist h3 {
    background-color: #EFEFEF;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 28px;
    padding-top: 12px;
    text-align: center;
    width: 40px;
}
.catelist a {
    position: relative;
}
.catelist p {
    color: #DEDEDE;
    float: left;
    height: 44px;
    line-height: 20px;
    padding-left: 15px;
    width: 535px;
}
.brandRec {
    height: 370px;
    width: 242px;
	float: right;
}

.brandRec h2 {

    height: 39px;
	background: url("../image/common/index.gif") no-repeat scroll 0 -467px transparent;
	text-indent: -999999px;
}
.brandlist {
    background: url("../image/common/brandRec.gif") no-repeat scroll left top transparent;
    height: 329px;
    overflow: hidden;
    /*width: 254px;*/
}
.brandlist ul {
    overflow: hidden;
    /*width: 258px;*/
}
.brandlist li {
    float: left;
    height: 66px;
    overflow: hidden;
    position: relative;

    width: 80px;
}
.brandlist li a {
    background-color: #FF8416;
    color: #FFFFFF;
    display: none;
    height: 49px;
    line-height: 18px;
    overflow: hidden;
    padding-top: 16px;
    position: absolute;
    text-align: center;
    width: 80px;
}

.brandlist li a:hover, .brandlist ul a:hover { color:#fff; text-decoration:none;}






/*��¼ע���˻�--ҳͷ*/
.topmessage{background-image: url("../image/common/bg_nav_0816.jpg");
    background-position: 1px -5px;
    border: 1px solid #E1E1E1;
    line-height: 26px;}
.topmessage a{ color: #a50000;}


/*ȫ����Ʒ����ҳͷ�������Ŵ�*/
.i-bg {
    background: url("../image/common/index.gif") repeat-x scroll 0 -849px transparent;
    height: 40px;
    margin-bottom: -40px;
    width: 100%;
}
/*.allsort {
	height: 50px;*/
	/*margin-left:0;background-image: url(../image/common/bg_nav_0816.jpg);*/
	/*background-attachment: scroll;
	background-color: transparent;

	background-repeat: no-repeat;
	background-position: 0 -167px;

}
.allsort_null {
	height: 50px;


}
.allsort .mt {
    border-left: 1px solid #FF0000;
    border-right: 1px solid #FF0000;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 14px 12px 12px 16px;
}

.allsort .mt strong {
	color: #FFF;
	float: left;
	font-size: 14px;
}

.allsort .mt1 {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 14px 12px 12px 16px;
}

.allsort .mt1 strong {
	color: #FFF;
	float: left;
	font-size: 14px;
}
*/
/*ģ������*/
/*.i_search {}
.i_search .inp,.i_search .sear{
	height:25px;
	background-image: url(../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.i_search .inp{ background-position: left -217px; float:left; width:224px; border:0 none; padding:4px; height:17px;margin: 8px 0;}
.i_search .sear{background-position: left -242px; float:left; width:50px; cursor:pointer; line-height:25px; font-size:13px; text-align:center; color:#333;margin: 8px 0;}*/


/*��������*/
/*.hotwords{
	color:#FFF;
	line-height:24px;
	overflow:hidden;
	margin:9px 0 6px 0;
}
.hotwords a{
	margin-left:10px;
	white-space:nowrap;
	color:#FFF;
}*/

/*ͷ���˵�*/
/*.i_nav{padding-top:30px; float:left; margin-left:10px;}
.i_nav ul li{float:left; line-height:28px;font-weight:bold; font-size:14px; margin-right:3px;display:inline;}
.i_nav a,#hy a{
	display:block;
	float:left;
	color:#000;
	height:28px;
	padding:0 0 0 10px;
	cursor:pointer;
	background-color: transparent;
	background-image: url(../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: -233px -203px;
}
.i_nav a span,#hy a span{
	display:block;
	float:left;
	padding:0 10px 0 0;
	cursor:pointer;
	background-image: url(../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: right -238px;
}
.i_nav a:hover,#hy a:hover{ background-position:-233px  -341px;}
.i_nav a:hover span,#hy a:hover span{ background-position: right -376px; color:#000;}
.i_nav a.actived{ background-position:-233px  -271px;}
.i_nav a span.actived{ background-position: right -306px; color:#fff;}
.i_nav a:hover.actived{background-position:-233px  -341px;}
.i_nav a:hover span.actived{background-position: right -376px; color:#000;}*/
/*������*/
/*.m {*/
    /*margin-bottom: 10px;*/
}
/*.m, .mt, .mc, .mb {
    overflow: hidden;
}
#sortlist .mt {
    background: url("../image/common/icon_sprites.jpg") no-repeat scroll -48px 0 #E20F0D;
    height: 34px;
    width: 188px;
}
#sortlist h2 {
    color: #FFFFFF;
    line-height: 34px;
    text-indent: 15px;
}
#sortlist .mc {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 5px solid #E20F0D;
    border-right: 5px solid #EE9614;
    height: 227px;
    width: 169px;
}
#sortlist ul {
    padding-left: 8px;
    width: 184px;
}
#sortlist li.fore {
    border: medium none;
}
#sortlist li {
    border-top: 1px dotted #CBCBCB;
    clear: both;
    padding: 3px 0;
}
#sortlist dl {
    color: #666666;
}
#sortlist dt {
    float: left;
    font-family: "΢���ź�";
    font-weight: bold;
    line-height: 20px;
    margin-right: 4px;
    text-align: center;
    width: 40px;
	margin-top:0px;
}
#sortlist dt a.ico0 {
    background-position: 3px 5px;
}
#sortlist dt a {
    background: url("../image/common/icon_sprites.jpg") no-repeat scroll 0 0 transparent;
    color: #666666;
    display: block;
    padding-top: 30px;
}
#sortlist dd {
    float: left;
    overflow-x: hidden;
    padding-top: 3px;
    width: 140px;
}
#sortlist dd a:link, #sortlist dd a:visited {
    border-left: 1px solid #D2D2D2;
    color: #666666;
    display: inline-block;
    height: 1em;
    line-height: 1.1em;
    margin: 4px 0 4px -1px;
    overflow: hidden;
    padding: 0 9px;
}
#sortlist .mb {
    background: url("../image/common/icon_sprites.jpg") no-repeat scroll -48px -35px transparent;
    font-size: 0;
    height: 5px;
    width: 210px;
}*/



.mc {
	border:1px solid #C40000;
	border-top:0;
	background: none repeat scroll 0 0 #ffefef;
	border-radius: 0 0 5px 5px;
}

.nvz{background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -313px -413px transparent;}
.nz{background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -313px -446px transparent;}
.ydz{background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -313px -481px transparent;}
.mytz{background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -313px -517px transparent;}
.ny{background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -313px -552px transparent;}
.xb{background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -313px -585px transparent;}
.sp{background: url(../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -628px transparent;}
.wj{background: url(../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -661px transparent;}

.item1 {
    border-top: 1px solid #FDE6D2;
    width: 173px;
}
.subNav {
    height: 30px;
    margin: 5px 0 0 -975px;
    position: relative;
    width: 170px;
    z-index: 110;
}

 .mp {
    /*display:none;position: relative;*/
  background-position: 0 -68px;
    height: 239px;
    left: 1px;
    padding-top: 14px;width: 175px

    ;
}

 .mp .item1 {
    height: 35px;
}

 .mp .item1 .i-mp {
	/*display: none;*/
	background-attachment: scroll;
	background-color: #FFF8F0;
	background-image: url("../image/common/subNab_popBg.png");
	background-position: right 0;
	background-repeat: repeat-y;
	border: 2px solid #B72B0A;
	left: 392px;
	position: absolute;
	top: 122px;
	width: 620px;
}

 .i-mp .l {
    float: left;
    overflow: hidden;
    padding: 10px 0 10px 15px;
    width: 415px;
}
 .i-mp dt {
    clear: both;
    color: #CC0000;
    font-weight: 700;
    line-height: 25px;
    width: 100%;
}
 .i-mp dd {
    padding: 0 0 6px;
}
 .i-mp dd.t {
    padding: 0 0 6px 45px;
}
 .i-mp dd.t em.t {
    border: 0 none;
    float: left;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin: 3px 0 3px -45px;
    padding: 0;
}
 .i-mp dd em {
    border-right: 1px solid #DDDDDD;
    display: inline-block;
    font-style: normal;
    height: 14px;
    line-height: 14px;
    margin: 4px 8px 4px 0;
    padding-right: 8px;
}
 .i-mp .r {
    float: left;
    overflow: hidden;
    padding: 10px 0 10px 10px;
    width: 175px;
}
 .i-mp .r dd a {
    background: url("../image/common/indexbg.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #F0F0F0;
    display: inline-block;
    height: 28px;
    margin: 4px 6px 4px 0;
    width: 50px;
}
 .mp .item1 .i-mt {
    display: block;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    width: 107px;
}
 .mp .item1 .i-mt2 {
    display: block;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    width: 126px;
}
.mp .itemOn .i-mt2 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B72B0A #FFF8F0 #B72B0A #B72B0A;
    border-style: solid;
    border-width: 2px;
    color: #333333;
    font-weight: 700;
    height: 33px;
    line-height: 33px;
    margin: -2px -2px 0 0;
    padding-left: 48px;
    position: relative;
}
.mp .arrowhead{font-size:20px; color: #f8a21b; float:right; line-height:30px;}
/*.item1 span { line-height:33px; font-size:16px;}
.item1 span a{ font-size:16px;padding-left: 40px;line-height:33px;}*/
/*ҳ��*/
.malldesc {
    border: 1px solid #E9E9E9;
    padding: 10px 0 10px 15px;
}
.malldesc dl {
    color: #939393;
    display: inline;
    float: left;
    width: 194px;
}
.malldesc dl dt {
    border-left: 1px solid #FAFBFB;
    font-family: Microsoft YaHei;
    font-size: 15px;
    font-weight: 800;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    overflow: hidden;
}
.malldesc dl dt i {
    background: url("../image/common/index.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 28px;
    left: 5px;
    margin: 0 10px 0 20px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 30px;
}
.malldesc dl dt a {
    background: url("../image/common/index.gif") no-repeat scroll 0 -29px transparent;
    display: inline-block;
    float: left;
    height: 17px;
    left: 0;
    margin: 0 0;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    top: 7px;
    width: 66px;
}
.malldesc dl.help {
    width: 380px;
}
.malldesc dl.help dt {
    border: medium none;
}

.malldesc dl.help dt i {
    background-position:0 -520px;
}
.malldesc dl.help dt a {
    background-position: 0 -550px;
}
.malldesc dl dd {
    font-family: "����";
    height: 24px;
    line-height: 24px;
    text-indent: 55px;
}
.malldesc dl dd a{ color:#666;}
.clearfix {
    display: block;
}
.malldesc dl.payment {
    width: 380px;
}
.malldesc dl.payment dt i {
    background-position: -32px -520px;
}
.malldesc dl.payment dt a {
    background-position: 0 -568px;
}
.malldesc dl.assure {
    width: 210px;
}
.malldesc dl.assure dt i {
    background-position: -64px -520px;
}
.malldesc dl.assure dt a {
    background-position: 0 -586px;
    width: 82px;
}
.malldesc dl.point {
    width: 234px;
}
.malldesc dl.point dt i {
    background-position: -96px 0;
}
.malldesc dl.point dt a {
    background-position: 0 -101px;
    width: 115px;
}
.malldesc dl.shop {
    width: 160px;
}
.malldesc dl.shop dt i {
    background-position: -128px 0;
}
.malldesc dl.shop dt a {
    background-position: 0 -137px;
}

/*ҳ��
.footer_bg{background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    height: 175px;
    width: 245px;}
.fot_service {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #e0e0e0;
    height: auto;
    margin-top: 15px;
    overflow: auto;
}
.fot_service .bs {
    float: left;
    height: auto;
    width: 105px;
}
.bs .f_title {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 15px 0 5px;
	font-weight:bold;

}

.bs .f_title span {
    float: left;
}

.fot_spic1, .fot_spic2, .fot_spic3, .fot_spic4, .fot_spic5, .fot_spic6 {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../image/common/bg_nav_0816.jpg");
    background-repeat: no-repeat;
    display: inline;
    margin: 5px 5px 0 8px;
}

.fot_spic1 {
    background-position: -21px -426px;
    height: 17px;
    width: 17px;
}
.fot_spic2 {
    background-position: -60px -426px;
    height: 17px;
    width: 23px;
}
.fot_spic3 {
    background-position: -101px -426px;
    height: 18px;
    width: 12px;
}
.fot_spic4 {
    background-position: -141px -426px;
    height: 18px;
    width: 15px;
}
.fot_spic5 {
    background-position: -181px -426px;
    font-size: 0;
    height: 15px;
    width: 22px;
}
.fot_spic6 {
    background-position: -221px -426px;
    height: 12px;
    width: 15px;
}
.footer_bg img{ margin:43px 29px;}

.fot_service .bs ul {
    height: auto;
    width: 100%;
}

.fot_service .bs ul li {
    display: inline;
    float: left;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    margin-left: 16px;
    width: 100px;
}

.fot_line {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../image/common/bg_nav_0816.jpg");
    background-position: -228px -244px;
    background-repeat: no-repeat;
    float: left;
    height: 170px;
    width: 1px;
}*/

#footer {
    padding: 20px 0 30px;
    text-align: center;
}
.w {
    margin: 0 auto;
    padding: 0;
    /*width: 980px;*/
}
#footer .flinks a, #footer .flinks span {
    margin: 0 10px;
	color:#666;
}
#footer .copyright {
    font-family: arial;
    margin: 10px 0;
}

/*���û�ע��*/
.mt_form {
    background: url("../../images/md/bg_nav_0816.jpg") repeat-x scroll 0 -1px transparent;
    height: 33px;
    overflow: hidden;
}
.mt_form h2 {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll 0px -595px transparent;
    float: left;
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
	font-size:14px;
}
.mt_form b {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll 0px -629px transparent;
    float: right;
    height: 33px;
    width: 10px;
}
.mt_form span {
    float: right;
    height: 33px;
    line-height: 33px;
    text-align: right;
}
.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited {
    color: #005AA0;
}
.ftx14, .flk14 a:link, .flk14 a:visited, a.flk14:link, a.flk14:visited {
    color: #12A000;
}
.mc_form {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 15px 20px 20px;
}
.mc_form_win {
    background: none repeat scroll 0 0 #FFFFFF;
    border:1px solid #D1D1D1;
    padding: 15px 20px 20px;
}
.mc_form .item{
    border: 0 none;
    height: 50px;
    line-height: 26px;
    padding-top: 5px;
    width: 960px;
}
.tab {
    border-bottom: 1px solid #FFCC66;
    height: 29px;
    margin-bottom: 25px;
    overflow: visible;
    padding-left: 343px;
}
.tab .curr {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll 0 -665px transparent;
    color: #A0410A;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
.tab li {
    color: #F79100;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    padding-top: 3px;
    text-align: center;
    width: 102px;
}
.tab li, .tab-item {
    float: left;
    text-align: center;
}
.tab .line {
   /* background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -103px -663px transparent;*/
}
.tab a:link,  .tab a:visited {
    display: block;
    height: 23px;
    line-height: 23px;
    margin: 0 auto;
    overflow: hidden;
    width: 74px;
}
.tab a:hover, .tab a:active {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -230px -670px transparent;
    color: #FFFFFF;
    text-decoration: none;
}
/*.item{
	border: 0 none;
    line-height: 35px;
    width: 1000px; }*/

#protocol-con {
    border: 1px solid #CCCCCC;
    color: #666666;
    height: 80px;
    margin: 10px auto 0;
    overflow-y: scroll;
    padding: 8px;
    width: 600px;
}
#protocol-con h5 {
    font-size: 12px;
	font-weight:bold;
	padding:0;
}
.focus {
    color: #999999;
    line-height: 22px;
}

 .succeed {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -254px -585px transparent;
	text-indent:-9999px;
	overflow:hidden;
	display: inline-block;
}
 .blank {
    height: 16px;
    margin: 2px 5px 0;
    width: 16px;
}
.highlight1 {
    border: 1px solid #EFA100;
    outline: 2px solid #FFDC97;
}
.reg_cg{
	background-attachment: scroll;
    background-image: url("../image/common/reg_cg.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 133px;
    margin: 20px 20px 20px 145px;
    overflow: hidden;
    padding-left: 110px;
    text-indent: -9999px;
    width: 61px;
}
.reg_sb{
	background-attachment: scroll;
	background-image: url("../image/common/warning1.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 133px;
	margin: 20px 20px 20px 145px;
	overflow: hidden;
	padding-left: 110px;
	text-indent: -9999px;
	width: 61px;
}
.shopcart_cg{
	 background-attachment: scroll;
    background-image: url("../image/common/reg_cg.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 114px;
    overflow: hidden;
    padding-left: 110px;
    text-indent: -9999px;
    width: 54px;
}
.fl {
    float: left;
}
#pwdstrength {
    color: #999999;
    line-height: 22px;
    padding-right: 10px;
}
#pwdstrength b {
    float: left;
    height: 13px;
    margin-top: 5px;
    overflow: hidden;
    width: 104px;
}
.strengthA b {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -149px -586px transparent;
}
.strengthB b {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -149px -599px transparent;
}
.strengthC b {
    background: url("../image/common/bg_nav_0816.jpg") no-repeat scroll -149px -612px transparent;
}
.null {
    color: red;
    line-height: 22px;
}
 .error {
    color: red;
    line-height: 22px;
}
.form h3 {
    /*border-top: 1px solid #E7E7E7;*/
    padding: 10px 0 16px 220px;
	font-size:14px;
}
.label b {
    font-family: "����";
    font-weight: normal;
    margin-right: 5px;
}
.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited {
    color: #FF0000;
}

/*��¼ҳ*/
/*#entry .mc_form {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 15px 20px 20px;
}*/
.entry_form {
    float: left;
    overflow: hidden;
    width: 600px;
}
.entry_form  .item {
    height: 50px;
    line-height: 26px;
    padding-top: 5px;
	width:615px;
	border:0;
}
.entry_form .label {
    font-size: 14px;
    text-align: right;
    width: 150px;
}

#guide {
    border-left: 1px solid #E7E7E7;
    float: right;
    height: 220px;
    padding: 60px 0 20px 20px;
    width: 300px;
}
#guide .content {
    color: #666666;
    padding: 10px 0 0;
}
#guide .btns {
    border-top: 1px dotted #CCCCCC;
    padding-top: 10px;
    text-align: center;
}
.mar {
    margin-right: 10px;
}
.form h5 {
    /*border-top: 1px solid #E7E7E7;*/
    padding: 10px 0 16px 220px;
	font-size:14px;
	font-weight:normal;
	color:#666;
}
.mydnew_sidel{ border-top:1px solid #E0E0E0;}
.mydnew_sidel h3{
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	background-image: url(../image/common/bg_nav_0816.jpg);
	background-repeat: repeat-x;
	background-position: 0px -273px;
}
.mydnew_sidel ul li span{
	background-image: url(../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: 0 -376px;
}
/*��Ա������˵�*/
.my_content { line-height:24px;}
.my_content span { color:#F00;}
.my_content .actived{ color:#F00; font-weight:bold;}
.my_content li {padding-left:8px;}
.my_content li a{ color:#333;}
/*.my_content_l {}
.my_content_l  li{ line-height:24px; padding:5px; margin: 0 8px; border-bottom:1px dashed #f1f1f1; }
.my_content_l li span{ color:#F00; font-weight:bold; font-size:14px;}*/
.mytitle h1{
    background: url("../image/common/bg_nav_0816.jpg") repeat-x 0 -1px scroll;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
}
.item {
    height: 50px;
    line-height: 26px;
    padding-top: 5px;
	width:615px;
	border:0;
}
.item_user{
    height: 30px;
    line-height: 26px;
    padding-top: 5px;
	width:615px;
	border:0;
}
.item_orderbook{
    height: 30px;
    line-height: 26px;
    padding-top: 5px;
	/*width:615px;*/
	border:0;
}
.item_goods{
    height: 30px;
    line-height: 26px;
    padding-top: 5px;
	width:609px;
	border:0;
}

.price {
    color: #FF0000;
    font-family: verdana;
    font-weight: bold;
}
.align_Center {
    text-align: center;
}

/*�����ͷ*/
.up{
	background-image: url("../image/common/arrow_up.gif");
    background-position: 53px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 5px;
    padding-right: 38px;
    width: 10px;}
.down{
	background-image: url("../image/common/arrow_down.gif");
    background-position: 50px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 5px;
    padding-right: 11px;
    width: 10px;
}
#refilter .mt {
    background: url("../image/common/bg_tit_home.gif") no-repeat scroll 0 0 #C40000;
    height: 24px;
    line-height: 24px;
    padding: 3px 8px;
}
#refilter .mt h2 {
    color: #FFFFFF;
}
#refilter .mc {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C40000;
    border-style: solid;
    border-width: 0 1px 1px;
    width: 177px;
}
#refilter .link {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    margin: 0 2px 2px;
    padding: 4px 4px 4px 8px;
    position: relative;
}
#refilter .link b {
    background: url("../image/common/icon_psearch.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 10px;
    width: 6px;
}
#refilter .itemrefilter {
    padding: 0 2px;
	width: 173px;
}
#refilter .itemrefilter h3 {
    background: url("../image/common/bg_hotsale.gif") repeat-x scroll 0 -655px #FAFAFA;
    border: 1px solid #EFEFEF;
    cursor: pointer;
    height: 16px;
    line-height: 15px;
    margin-bottom: 2px;
    padding: 3px 6px 3px 25px;
}
#refilter .hover b {
    background-position: 0 -23px;
}
#refilter .itemrefilter .up_icon b {
	background: url("../image/common/icon_psearch.png") no-repeat scroll 0 -23px transparent;
    cursor: pointer;
    float: right;
    height: 14px;
    margin-top: 1px;
    overflow: hidden;
    width: 15px;}
#refilter .itemrefilter b {
    background: url("../image/common/icon_psearch.png") no-repeat scroll 0 -8px transparent;
    cursor: pointer;
    float: right;
    height: 14px;
    margin-top: 1px;
    overflow: hidden;
    width: 15px;
}
#refilter .hover ul {
    display: block;
    overflow: hidden;
    padding: 4px 0 4px 45px;
}
#refilter .itemrefilter li {
    height: 18px;
    overflow: hidden;
    padding: 3px 4px 3px 20px;
}
#refilter .extra {
    overflow: hidden;
    padding: 5px 0;
}
#refilter .return {
    float: right;
    margin-right: 5px;
}
/*�۸���*/
.price_up{
	background-image: url("../image/common/bg_nav_0816.jpg");
    background-position: -332px -759px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 15px;
    padding-right: 6px;
    width: 16px;
}
.price_down{
	background-image: url("../image/common/bg_nav_0816.jpg");
    background-position: -343px -759px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 15px;
    padding-right: 6px;
    width: 16px;
}

.classify_inner {
	background-image: url("../image/common/index.gif");
    background-position: -176px -503px;
    background-repeat: no-repeat;
}
/*��ҳtab*/
.tabnav {
    border-bottom: 2px solid #FFCCAA;
    padding-left: 5px;
    z-index: 2;
	margin-bottom:0;
}
.tabnav li.curr, .tabnav li.curr a:link,  .tabnav li.curr a:visited {
    color: #FF6600;
    font-weight: bold;
}
.tabnav li.curr {
    background-position: 0 -85px;
}
.tabnav li {
    background: url("../image/common/tab.gif") repeat scroll 0 -28px transparent;
    float: left;
    height: 27px;
    line-height: 29px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0 13px;
    position: relative;
    text-align: center;
	width:50px;
}
.tabnav li, .tabnav a, .tab-item {
    cursor: pointer;
    float: left;
    text-align: center;
	color:#666;
}
.tabnav li.curr s {
    background-position: 0 -57px;
}
.tabnav li s {
    left: 0;
}
.tabnav li s {
    background: url("../image/common/tab.gif") repeat scroll 0 0 transparent;
    height: 27px;
    position: absolute;
    top: 0;
    width: 3px;
}
.tabnav li b {
    background-position: -7px 0;
    right: 0;
}
.tabnav li b {
    background: url("../image/common/tab.gif") repeat scroll right 0 transparent;
    height: 27px;
    position: absolute;
    top: 0;
    width: 3px;
}
.tabnav li.curr b {
    background-position: right -57px;
}
#myorder, #myorder .mt, #myorder .mc, #myorder .tb-void, #tb-olists, #tb-olists .mt, #tb-olists .mc, #tb-olists .tb-void {
    overflow: visible;
	width:99%;
	background:none;
	border:0;
}

#myorder .m5 #myorder .mc {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #E6E6E6 #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}
#process {
    margin: 0 auto;
    padding: 25px 0 80px;
}
#process .node {
    width: 13px;
}
.node.ready {
    background-position: -150px 0;
}
#process .node ul {
    margin-left: -152px;
    width: 318px;
    z-index: 6;
}

#process ul {
    margin-top: -38px;
    position: absolute;
    text-align: center;
}
#process .proce {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 5px;
    width: 150px;
}

#process .node, #process .proce {
    background-image: url("../image/common/bg_state.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 13px;
    position: relative;
}

.proce.ready {
    background-position: 0 0;
}