.checkbox {
    /*margin-top: 7px;*/
}
.label {
    float: left;
    font-size: 12px;
}
.label {

    text-align: right;
    width: 300px;
}
 .text-1 {
    width: 100px;
}
.text-2{
	color: #666666;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 130px 16px 20px;}
.text-3{
	color: #666666;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 130px 16px 94px;
}
.text-4{
	color: #333;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 0 16px 94px;
}
.text {
    border: 1px solid #BBBBBB;
    font-size: 14px;
    height: 16px;
    padding: 4px 3px;
    width: 240px;
}
.c_gray{ color:#9b9b9b;}
.gray_b3{ color:#b3b3b3;}
.btn-regist {
    padding-bottom: 5px;
}
.form .btn-regist {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	width: 166px;
	background: url("../image/common/bg_nav_0816.jpg") no-repeat -90px -628px scroll transparent;

}
.btn-img {
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.select {
    border: 1px solid #BBBBBB;
    font-size: 14px;
    padding: 4px 3px;
    width: 248px;
}
.select80 {
    border: 1px solid #BBBBBB;
    font-size: 14px;
    padding: 4px 3px;
    width: 80px;
}
.select122 {
    border: 1px solid #BBBBBB;
    font-size: 14px;
    padding: 4px 3px;
    width: 122px;
}
.btn-entry {
    padding-bottom: 5px;
}
.btn-entry {
    background: url("../../images/md/bg_nav_0816.jpg") no-repeat scroll 0px -768px transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    width: 87px;
}
.Myfile{
	float: left;
    font-size: 12px;
    height: 24px;
    padding-top: 3px;
    width: 290px;}
.btn-entry a:link{color: #FFFFFF;}
.btn-entry a:hover{text-decoration: underline;}
.btn-personal {
    background: url("../../images/md/bg_nav_0816.jpg") no-repeat scroll -97px -730px transparent;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 20px auto;
    text-align: center;
    width: 137px;
}
.reg_cg img{
	margin: 20px;
    padding-left: 110px;}