/*css*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{text-decoration:none;border:0;font-size:100%;margin:0;padding:0}
html,body{font-size: 12px;height:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}
img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
li{display:list-item; list-style-type:none;}
svg{overflow:hidden}
body{ background-color:#FFF; font-size:12px; font-family:Verdana, Geneva, sans-serif,微软雅黑,宋体;}
font{ font-weight:normal;}
ul, li, ol, ul {list-style: none outside none;}
img{ border:0;vertical-align: middle; text-align:center;}
a:link, a:visited {color: #333333;text-decoration: none;}
a:hover{color: #F30;text-decoration: underline;}
.font_red{ color:#FF4E00;}
strong{font-weight: bold;}
.float_left {float:left;}
.float_right {float:right;}
.i-logo{float:left;}
.divborder{border:1px solid #E0E0E0;}
.clear{clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;}
.center{ text-align:center;}
.margin_top10{ margin-top:10px;}
.width744{ width:744px;}
.border_top{ border-top: 1px solid #E7E7E7;}


/*登录注册账户*/
.topmessage{
	background-image: url("../../images/md/bg_nav_0816.jpg");
    background-position: 0 -699px;
    background-repeat: repeat-x;
    border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
    line-height: 30px;
}
.topmessage a{ color:#a50000;}



/*全部商品分类页头搜索热门词*/
.i-bg {
    background-image: url("../../image/common/bg_nav_0816.jpg");
    background-position: left -116px;
    background-repeat: repeat-x;
    color: #ACACAC;
    height: 50px;
}
.allsort {
	height: 50px;
	/*margin-left:0;*/
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: 0 -167px;

}
.allsort .mt {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 14px 12px 12px 16px;
}

.allsort .mt strong {
	color: #FFF;
	float: left;
	font-size: 14px;
}

/*模糊搜索*/
.i_search{}
.i_search .inp,.i_search .sear{
	height:25px;
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.i_search .inp{ background-position: left -217px; float:left; width:224px; border:0 none; padding:4px; height:17px;margin: 8px 0;}
.i_search .sear{background-position: left -242px; float:left; width:50px; cursor:pointer; line-height:25px; font-size:13px; text-align:center; color:#333;margin: 8px 0;}
/*热门搜索*/
.hotwords{
	color:#FFF;
	line-height:24px;
	overflow:hidden;
	margin:9px 0 6px 0;
}
.hotwords a{
	margin-left:10px;
	white-space:nowrap;
	color:#FFF;
}
/*左侧分类*/
.mc {
	border:1px solid #C40000;
	border-top:0;
	background: none repeat scroll 0 0 #ffefef;
	border-radius: 0 0 5px 5px;
}

.nvz{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -417px transparent;}
.nz{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -450px transparent;}
.ydz{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -486px transparent;}
.mytz{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -525px transparent;}
.ny{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -560px transparent;}
.xb{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -595px transparent;}
.sp{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -628px transparent;}
.wj{background: url(../../image/common/bg_nav_0816.jpg) no-repeat scroll -317px -661px transparent;}

.item1 {
    border-top: 1px solid #FDE6D2;
    width: 173px;
}
.item1 span { line-height:33px; font-size:16px;}
.item1 span a{ font-size:16px;padding-left: 40px;line-height:33px;}

/*头部菜单*/
.i_nav{padding-top:30px; float:left; margin-left:10px;}
.i_nav ul li{float:left; line-height:28px;font-weight:bold; font-size:14px; margin-right:3px;display:inline;}
.i_nav a,#hy a{
	display:block;
	float:left;
	color:#000;
	height:28px;
	padding:0 0 0 10px;
	cursor:pointer;
	background-color: transparent;
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: -233px -203px;
}
.i_nav a span,#hy a span{
	display:block;
	float:left;
	padding:0 10px 0 0;
	cursor:pointer;
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: right -238px;
}
.i_nav a:hover,#hy a:hover{ background-position:-233px  -341px;}
.i_nav a:hover span,#hy a:hover span{ background-position: right -376px; color:#000;}
.i_nav a.actived{ background-position:-233px  -271px;}
.i_nav a span.actived{ background-position: right -306px; color:#fff;}
.i_nav a:hover.actived{background-position:-233px  -341px;}
.i_nav a:hover span.actived{background-position: right -376px; color:#000;}

/*标题*/
.notice_title_new{ color: #FF0000;
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    margin-left: 41px;}
.notice_title{ font-size:16px; color:#F00; font-weight:bold; line-height:30px;}
.title{ font-size:16px; color:#F00; font-weight:bold; line-height:30px; background-color:#f1f1f1;}
.title_14{ font-size:14px; color:#333;}
.title_12_gray{ font-size:12px; color:#9A9A9A; font-weight:normal;}
.prod_title_bg{
	background-attachment: scroll;
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: repeat-x;
	background-position: 0px -1px;
	height:39px;
}
.prod_title{ font-size:16px; color:#F00; font-weight:bold; line-height:32px; padding-left: 20px; border-left:1px solid #e0e0e0;}
.bulletin_hot{
	background-image: url("../../image/common/bg_nav_0816.jpg");
    background-position: 0 -301px;
    background-repeat: no-repeat;
    height: 40px;
    position: absolute;
    width: 40px;
}

/*更多推荐*/
.r_more {
    margin: 0 0 0 55px;
    padding: 8px; border-right:1px solid #e0e0e0;
}
.r_more a {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../image/common/bg_nav_0816.jpg");
    background-position: -22px -456px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 42px;
}

.recommend {
    margin: 0 0 0 55px;
    padding: 8px;
}

.recommend a {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../image/common/bg_nav_0816.jpg");
    background-position: -22px -456px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 42px;
}

/*信息链接*/
.messgelink { line-height:24px;}
.messgelink span{ color:#F00;}
.messgelink li{padding-left:8px;}
.messgelink_l {}
.messgelink_l  li{ line-height:24px; padding:5px; margin: 0 8px; border-bottom:1px dashed #f1f1f1; }
.messgelink_l li span{ color:#F00; font-weight:bold; font-size:14px;}

/*右边热门关键词*/
.r_hot{  background-color: #F4EFE8;
    color: #957D5B;
    line-height: 24px;
    margin: 0 6px 6px 6px;
    padding-left: 6px;}

/*分类切换*/
.tabbnt {background-color: #F1F1F1;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
	font-weight:bold;}
.tabbnt_red{background-color: #F00;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
	color:#FFF;
	font-weight:bold;}

/*热卖商品*/
/*热卖商品*/
.itemCell{text-align:center;}
.itemCell dd,dt{
	margin-top:5px;}
.pdInfo {
    clear: both;
    line-height: 1.3em;
    padding-top: 6px;
}

.price p.bypast {
    color: #999999;
    float: left;
	text-decoration: line-through;
}
.price p.current {
    color: #FF4E00;
}

.item_p{text-align:center;margin-bottom: 16px;}

/*最热评论*/
.comment_messge{ width:170px; float:right;}
.comment_messge_bg{ border:1px solid #f1f1f1; background-color:#F3F3F3; padding:5px;}

/*页脚*/
.footer_bg{background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    height: 175px;
    width: 245px;}
.fot_service {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #e0e0e0;
    height: auto;
    margin-top: 15px;
    overflow: auto;
}
.fot_service .bs {
    float: left;
    height: auto;
    width: 105px;
}
.bs .f_title {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 15px 0 5px;
	font-weight:bold;

}

.bs .f_title span {
    float: left;
}

.fot_spic1, .fot_spic2, .fot_spic3, .fot_spic4, .fot_spic5, .fot_spic6 {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../../image/common/bg_nav_0816.jpg");
    background-repeat: no-repeat;
    display: inline;
    margin: 5px 5px 0 8px;
}

.fot_spic1 {
    background-position: -21px -426px;
    height: 17px;
    width: 17px;
}
.fot_spic2 {
    background-position: -60px -426px;
    height: 17px;
    width: 23px;
}
.fot_spic3 {
    background-position: -101px -426px;
    height: 18px;
    width: 12px;
}
.fot_spic4 {
    background-position: -141px -426px;
    height: 18px;
    width: 15px;
}
.fot_spic5 {
    background-position: -181px -426px;
    font-size: 0;
    height: 15px;
    width: 22px;
}
.fot_spic6 {
    background-position: -221px -426px;
    height: 12px;
    width: 15px;
}
.footer_bg img{ margin:43px 29px;}

.fot_service .bs ul {
    height: auto;
    width: 100%;
}

.fot_service .bs ul li {
    display: inline;
    float: left;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    margin-left: 16px;
    width: 100px;
}

.fot_line {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../image/common/bg_nav_0816.jpg");
    background-position: -228px -244px;
    background-repeat: no-repeat;
    float: left;
    height: 170px;
    width: 1px;
}

#footer {
    padding: 20px 0 30px;
    text-align: center;
}
.w {
    margin: 0 auto;
    padding: 0;
    /*width: 980px;*/
}
#footer .flinks a, #footer .flinks span {
    margin: 0 10px;
}
#footer .copyright {
    font-family: arial;
    margin: 10px 0;
}


/*新用户注册*/
.mt_form {
    background: url("../../images/md/bg_nav_0816.jpg") repeat-x scroll 0 -1px transparent;
    height: 33px;
    overflow: hidden;
    border-color:#D1D1D1;
	border-style:solid;
	border-width:0 1px 1px;
}
.mt_form h2 {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll 0px -595px transparent;
    float: left;
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
	font-size:14px;
}
.mt_form b {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll 0px -629px transparent;
    float: right;
    height: 33px;
    width: 10px;
}
.mt_form span {
    float: right;
    height: 33px;
    line-height: 33px;
    text-align: right;
}
.ftx13, .flk13 a:link, .flk13 a:visited, a.flk13:link, a.flk13:visited {
    color: #005AA0;
}
.mc_form {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 15px 20px 20px;
}
.tab {
    border-bottom: 1px solid #FFCC66;
    height: 29px;
    margin-bottom: 25px;
    overflow: visible;
    padding-left: 343px;
}
.tab .curr {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll 0 -665px transparent;
    color: #A0410A;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
.tab li {
    color: #F79100;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    padding-top: 3px;
    text-align: center;
    width: 102px;
}
.tab li, .tab-item {
    float: left;
    text-align: center;
}
.tab .line {
   /* background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -103px -663px transparent;*/
}
.tab a:link,  .tab a:visited {
    display: block;
    height: 23px;
    line-height: 23px;
    margin: 0 auto;
    overflow: hidden;
    width: 74px;
}
.tab a:hover, .tab a:active {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -230px -670px transparent;
    color: #FFFFFF;
    text-decoration: none;
}
.item{
	border: 0 none;
    line-height: 35px;
    width: 1000px; }

#protocol-con {
    border: 1px solid #CCCCCC;
    color: #666666;
    height: 80px;
    margin: 10px auto 0;
    overflow-y: scroll;
    padding: 8px;
    width: 600px;
}
h5 {
    font-size: 12px;
}
.focus {
    color: #999999;
    line-height: 22px;
}

 .succeed {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -254px -595px transparent;
}
 .blank {
    height: 16px;
    margin: 2px 5px 0;
    width: 16px;
}
.highlight1 {
    border: 1px solid #EFA100;
    outline: 2px solid #FFDC97;
}

.fl {
    float: left;
}
#pwdstrength {
    color: #999999;
    line-height: 22px;
    padding-right: 10px;
}
#pwdstrength b {
    float: left;
    height: 13px;
    margin-top: 5px;
    overflow: hidden;
    width: 104px;
}
.strengthA b {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -149px -586px transparent;
}
.strengthB b {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -149px -599px transparent;
}
.strengthC b {
    background: url("../../image/common/bg_nav_0816.jpg") no-repeat scroll -149px -612px transparent;
}
.form .null, .form .error {
    color: red;
    line-height: 22px;
}
.form h3 {
    /*border-top: 1px solid #E7E7E7;*/
    padding: 10px 0 16px 220px;
	font-size:14px;
}
.label b {
    font-family: "宋体";
    font-weight: normal;
    margin-right: 5px;
}
.ftx04, .flk04 a:link, .flk04 a:visited, a.flk04:link, a.flk04:visited {
    color: #FF0000;
}

/*登录页*/
/*#entry .mc_form {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D1D1D1;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 15px 20px 20px;
}*/
.entry_form {
    float: left;
    overflow: hidden;
    width: 600px;
}
.entry_form  .item {
    height: 50px;
    line-height: 26px;
    padding-top: 5px;
	width:615px;
	border:0;
}
.entry_form .label {
    font-size: 14px;
    text-align: right;
    width: 150px;
}

#guide {
    border-left: 1px solid #E7E7E7;
    float: right;
    height: 220px;
    padding: 60px 0 20px 20px;
    width: 300px;
}
#guide .content {
    color: #666666;
    padding: 10px 0 0;
}
#guide .btns {
    border-top: 1px dotted #CCCCCC;
    padding-top: 10px;
    text-align: center;
}
.mar {
    margin-right: 10px;
}
.form h5 {
    /*border-top: 1px solid #E7E7E7;*/
    padding: 10px 0 16px 220px;
	font-size:14px;
	font-weight:normal;
	color:#666;
}
.mydnew_sidel{ border-top:1px solid #E0E0E0;}
.mydnew_sidel h3{
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: repeat-x;
	background-position: 0px -273px;
}
.mydnew_sidel ul li span{
	background-image: url(../../image/common/bg_nav_0816.jpg);
	background-repeat: no-repeat;
	background-position: 0 -376px;
}
/*会员中心左菜单*/
.my_content { line-height:24px;}
.my_content span { color:#F00;}
.my_content #actived{ color:#F00; font-weight:bold;}
.my_content li {padding-left:8px;}
/*.my_content_l {}
.my_content_l  li{ line-height:24px; padding:5px; margin: 0 8px; border-bottom:1px dashed #f1f1f1; }
.my_content_l li span{ color:#F00; font-weight:bold; font-size:14px;}*/
.mytitle h1{
    background: url("../../image/common/bg_nav_0816.jpg") repeat-x 0 -1px scroll;
    border-left: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
}
.my_content_form  .item {
    height: 50px;
    line-height: 26px;
    padding-top: 5px;
	width:615px;
	border:0;
}
.my_content_form .label {
    font-size: 14px;
    text-align: right;
    width: 150px;
}
/*编辑个人档案*/
.choice_city{
	border: 1px solid #A1A1A1;
    height: 30px;
    margin-top: 5px;
    padding: 3px 0 0 10px;
    width: 430px;}
.choice_city ul li{
	float: left;
    margin-left: 5px;
    padding: 0 2px;
	}
.edit_message{
	border: 3px solid #EEEEEE;
    margin: 6px 0 0;
    padding-bottom: 15px;
    width: 787px;
	}
.edit_photo{ padding:20px 0 0 85px;}
.photo_prev{
	float: left;
    height: 260px;
    padding-right: 17px;
	}
.photo_prev_head{
	border: 1px solid #A1A1A1;
    height: 102px;
    width: 102px;
	}
.photo_prev_head IMG{
	height: 96px;
    margin: 3px 0 0 3px;
    width: 96px;
}
.photo_browse{
	float: left;
    padding-top: 0;
    width: 500px;
	}
.go_choice2{
	float: left;
    padding: 0 0 3px;
    width: 243px;
	}
.all_photo_title{
	margin: 9px 0 0;
    position: relative;
    width: 447px;
    z-index: 1;
	}
.all_photo_title_mo{
	background-image: url("../../image/main/people_title_mo.gif");
    color: #853200;
    float: left;
    height: 20px;
    line-height: 21px;
    overflow: hidden;
    text-align: center;
    width: 111px;
}
.all_photo_title_other{
	background-image: url("../../image/main/people_title_mo.gif");
    float: left;
    height: 19px;
    line-height: 21px;
    overflow: hidden;
    text-align: center;
    width: 111px;
}
.all_photo{
	background-color: #F4FEFF;
    border: 1px solid #AEC7CB;
    height: 162px;
    padding: 10px 8px 0 15px;
    position: relative;
    top: -1px;
    width: 419px;
    z-index: 0;
	}
.all_photo DIV{
	border: 1px solid #CACACA;
    display: inline;
    float: left;
    height: 50px;
    margin: 10px 7px 14px 20px;
    padding-top: 2px;
    text-align: center;
    width: 52px;}
.all_photo DIV img{
	height: 48px;
    width: 48px;
	}
/*.save_photo{ margin:10px 0px 0px; width:90px; float:left; height:22px; padding-top:1px;}*/
.total_ok_pic_green{
	border: 1px solid #A8C49B;
    color: #406931;
    float: left;
    height: 13px;
    margin: 13px 0 0 8px;
    padding-left: 20px;
	}
.go_choice{
	border-top: 1px dashed #D1D1D1;
    margin: 18px 0 0;
    padding: 8px 0 3px;
    width: 446px;
	}
.browse_mypic{
	height: 22px;
    margin-bottom: 5px;
	}
.browse_mypic .browse_button{ width:50px; float:left; height:21px; margin-left:2px; padding-top:1px;}
.loading{ padding:3px 0 0 9px; width:90px; float:left; height:18px; margin-bottom:15px; color:#1a66b3;}
.total_ok_pic_green2{ border:#a8c49b 1px solid; padding:1px 0 0 20px; margin:3px 0 0 8px; background:url(../images/icon_14x15_ok.gif) #eefddc no-repeat 2px 0px; float:left; height:13px; color:#406931;}
.notice_write1{ border:#cc3300 1px solid; padding:3px 5px 0 25px; background:url(../images/label1.gif) #ffeddd no-repeat 4px 2px; float:left; height:15px; color:#cc3300;}