.button:focus {
	outline: 1px dotted black
}

.button>span {
	padding: 4px 25px\9
}

.button.product>span,.compound-button .handle.product>span {
	border: 1px solid #CCC
}

v\\:shape {
	behavior: url(#default#VML);
	position: absolute
}

.compound-button .handle>span {
	border-left: 1px solid #CCC !important
}

.compound-button .button.product>span:after,.compound-button .button.product.hover>span:after,.compound-button .button.product:hover>span:after
	{
	content: none
}

.compound-button .handle.product>span {
	padding-bottom: 6px
}

.compound-button .handle .arrow,.compound-button .handle.product.hover .arrow
	{
	*background: url("images/arrow_white.gif") no-repeat !important
}

.compound-button .handle.product .arrow {
	*background: url("images/arrow_black.gif") no-repeat !important
}

.jp #primary,#navigation,#secondary,.jp .user-navigation>ul,.jp div.cto div.content-summary ul.purchase-info
	{
	font-size: 10px
}

#bowerswilkinstabtop {
	background: url("images/tab_iphone_bowers_wilkins_p5_bkg[1].gif") no-repeat
		scroll 0 0 transparent;
	display: block;
	padding-bottom: 60px;
	height: 220px;
	zoom: 1
}

#shipping-user-list-content #shipping-address-address-list .firstName {
	padding-right: 5px
}

#apple-header.globalheader-loaded .site-search .sitesearch-wrapper .wrapper input
	{
	margin-top: 3px
}

div.multi-step-form form.step-form input[type=radio] {
	border: 0
}

div.multi-step-form .single-checkbox input[type=checkbox] {
	border: 0 !important
}