  <div class="column grid_3">
    <div id="refilter" class="m">
      <div class="mt">
        <h2>所有分类</h2>
      </div>
      <div class="mc">
        <div class="link"><b></b>&nbsp;<a href="">鞋类</a></div>
        <div class="itemrefilter hover">
          <ul class="classify_inner">
          	#foreach($category in $categories)
			<li><a href="/emarket/brand/brands.faces?categoryId=$!{category.id}">$!{category.name}</a></li>
			#end
          </ul>
        </div>
        <div class="extra"></div>
      </div>
    </div>
  </div>
