<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Derby Database connection settings -->
		<!--
			<property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
			<property name="connection.url">jdbc:derby:target/testdb;create=true</property>
			<property name="dialect">org.hibernate.dialect.DerbyDialect</property>
		-->



		<!-- HSQL Database connection settings -->
		<property name="connection.driver_class">
			org.hsqldb.jdbcDriver
		</property>
		<property name="connection.url">
			jdbc:hsqldb:file:target/testdb
		</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<property name="dialect">
			org.hibernate.dialect.HSQLDialect
		</property>






		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>


		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create-drop</property>
		<mapping resource="Group.hbm.xml" />
		<mapping resource="User.hbm.xml" />
		<mapping resource="UserRole.hbm.xml" />
		<mapping resource="UserResource.hbm.xml" />
		<mapping resource="RegisterAgreement.hbm.xml" />
		<mapping resource="Contact.hbm.xml" />
		<mapping resource="UserProfile.hbm.xml" />
		<mapping resource="RetrievePW.hbm.xml" />
		<mapping resource="DeliveryAddr.hbm.xml" />
		<mapping resource="News.hbm.xml" />
		<mapping resource="Advertisement.hbm.xml" />
		<mapping resource="AdvertisementPosition.hbm.xml" />
		<mapping resource="Brand.hbm.xml" />
		<mapping resource="ProductCategory.hbm.xml" />
		<mapping resource="CategoryAttr.hbm.xml" />
		<mapping resource="Product.hbm.xml" />
		<mapping resource="ProductImage.hbm.xml" />
		<mapping resource="ProductRecommend.hbm.xml" />
		<mapping resource="Favorite.hbm.xml" />
		<mapping resource="ProductTemplate.hbm.xml" />
		<mapping resource="Order.hbm.xml" />
		<mapping resource="OrderItem.hbm.xml" />
		<mapping resource="Invoice.hbm.xml" />
		<mapping resource="PayAndDelivery.hbm.xml" />
		<mapping resource="DeliveryInfo.hbm.xml" />
		<mapping resource="OrderInvoice.hbm.xml" />
		<mapping resource="PaymentInfo.hbm.xml" />
		<mapping resource="OrderPriceChange.hbm.xml" />
		<mapping resource="HelpCenterNavigation.hbm.xml" />
		<mapping resource="HelpCenterContent.hbm.xml"/>
	</session-factory>
</hibernate-configuration>