.ks-imagezoom-wrap {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    margin-left:25px;
}

.ks-imagezoom-icon {
    display: block;
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 23px;
    width: 23px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: url(../images/fangda.png) no-repeat scroll left top transparent;
}

.ks-imagezoom-lens {
    background: url(../images/dian.png) repeat;
    cursor: move;
}

.ks-imagezoom-viewer {
    border: 1px solid #CCCCCC;
    text-align: center;
}

#homepageMainAd {
	position: relative;
	width: 740px;
	height: 348px;
	border: 1px solid #B6D1E6;
	overflow: hidden;
}

#homepageMainAd .ks-switchable-nav {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 99;
}

#homepageMainAd .ks-switchable-nav li {
	float: left;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-left: 3px;
	background-color: #FCF2CF;
	border: 1px solid #F47500;
	color: #D94B01;
	text-align: center;
	cursor: pointer;
	list-style: none;
}

#homepageMainAd .ks-switchable-nav li.ks-active {
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin-top: -1px;
	color: #FFF;
	background-color: #FFB442;
	font-weight: bold;
}

#homepageMainAd .ks-switchable-content {
	margin: 0;
	padding: 0;
}

#homepageMainAd .ks-switchable-content li {
	width: 740px;
	height: 348px;
	overflow: hidden;
	margin: 0;
}

#homepageMainAd .ks-switchable-nav li,#J_Slide .ks-switchable-trigger-content {
	position: relative;
}

#homepageMainAd .ks-switchable-trigger-mask {
	position: absolute;
	right: 0;
	width: 18px;
	height: 18px;
	background-color: #FF9415;
	visibility: hidden
}

#homepageMainAd .ks-active .ks-switchable-trigger-mask {
	visibility: visible
}

.list li {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-type: circle;
}