<div class="row">
  <div class="malldesc clearfix">
  	#foreach($help in $helpCenter)
  		<dl class="$help.cssName">
	      <dt><i></i>$help.name</dt>
	      #foreach($child in $help.childrenList)
	      	<dd>·<a target="_blank" href="/product/help/help${child.id}.html">$child.name</a></dd>
	      #end
	    </dl>
  	#end
    <div class="clear"></div>
  </div>
</div>
<div class="row">
  <div class="column grid_16">
    <div id="footer" class="w">
      <div class="flinks">
      	#foreach($foot in $pageFoot)
      		#if($velocityCount > 1)|#end<a target="_blank" href="/product/help/help${foot.id}.html">$!foot.name</a>
      	#end
      </div>
      <div class="copyright">西安市公安局海淀分局备案编号：1101081681&nbsp;&nbsp;京ICP证070359号<br>
        Copyright&copy;2010-2011&nbsp;&nbsp;锦绣商城&nbsp;版权所有</div>
    </div>
  </div>
</div>